@using Ve.Models;
@model IEnumerable<DONDATHANG>

@{
     ViewBag.Title = "DanhSachDon";
     Layout = "~/Views/Shared/BottomPartial.cshtml";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nexus Aquarium|ThanhToan</title>
    <link rel="stylesheet" href="~/public/css/animal.css">
    <link rel="stylesheet" href="~/public/css/style.css">
    <link rel="stylesheet" href="~/public/vendor/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="~/public/vendor/fontawesome/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <style>
        #info {
            margin: 0px auto;
            margin-bottom: 30px;
            background: #eceeef57;
            height: 450px;
            width: 80%;
            border: 2px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class=" col-sm-1">

            </div>
            <div class=" col-sm-10">
                <div style="color: red; text-align:center;font-size:25px;margin-top:10px">Thông Tin Đơn Hàng</div>   
                <br />
                <div style="text-align:center">
                    <a href="@Url.Action("XemDonHang1", "ThanhToan", new {TT = "Đang Xử Lý"})" style="text-decoration: none;">Đang Xử Lý         ||         </a>
                    <a href="@Url.Action("XemDonHang1", "ThanhToan", new {TT ="Đang Giao Hàng"})" style="text-decoration: none;">Đang Giao Hàng          ||          </a>
                    <a href="@Url.Action("XemDonHang1", "ThanhToan", new {TT ="Đã Giao Hàng"})" style="text-decoration: none;">Đã Giao Hàng</a>
                </div>
                <br />
                <table class="table">
                    <thead>
                        <tr>
                            <th style="text-align:center">Mã hóa đơn</th>
                            <th style="text-align:center">Trạng thái vận chuyển</th>
                            <th style="text-align:center">Tổng tiền</th>
                            <th style="text-align:center">Địa chỉ</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="text-align:center"><a href="@Url.Action("ChiTietDH", "ThanhToan", new {MaHD = @item.ID})"> @item.ID</a></td>
                                <td style="text-align:center">@item.TinhTrang</td>
                                <td style="text-align:center">@item.TongTien</td>
                                <td style="text-align:center">@item.DiaChi</td>
                            </tr>
                        }

                    </tbody>
                </table>
                <br />
                <br />
            </div>
            <div class=" col-sm-1">

            </div>
        </div>
    </div>
</body>
</html>
@*Css cho controller*@
<style>


    .divTable {
        width: 100%;
        border: 1px solid #999999;
    }

        .divTable td {
            border: 1px solid #999999;
        }

    .gridHead {
        background-color: Green;
    }

        .gridHead > th > a {
            color: #fff;
        }

    .gridFooter {
        font-weight: bold;
    }

    .divTable a {
        color: blue;
    }
    /*.gridRow {
        color:#fff;
        background-color:blueviolet;
    }
    .gridAltRow {
        color:#fff;
        background-color:darkorange;
    }*/
</style>



