@using Ve.Models;
@model List<VE>

    @foreach(var item in Model)
    { 
        <tr id="ItemCart" class="text-center" style="color: black;">
            <td>
                <div>
                    <input type="checkbox" class="check" checked onclick="CapNhatThanhToan()">
                </div>
            </td>
            <td data-th="Product">
                <div class="col-img-prod">
                    <img src="~/public/images/@item.HinhAnh" alt="Ảnh sản phẩm" class="img-responsive" width="100">
                </div>
            </td>
            <td>
                <div style="text-align: left;">
                    <a href="/Ticket/ChiTietVe/@item.ID">@item.TenVe</a>

                </div>
            </td>
            <td data-th="Price">
                <div class="DonGia">@item.DonGia</div><p>đồng</p>
            </td>
            <td data-th="Quantity">
                <div>
                    <input class="form-control text-center Num" value=@ViewBag.SoLuong type="number" style="width: 80px" onchange="xemKetQua()">
                </div>
            </td>
            <td data-th="Subtotal" style="color: red;">
                <div class="ThanhTien">@(Convert.ToInt32(@item.DonGia) * Convert.ToInt32(@ViewBag.SoLuong))</div><p>đồng</p>
            </td>
            <td class="Actions" data-th>
                <button class="btn btn-danger btn-sm" onclick="setTimeout(CapNhatThanhToan, 1000)">
                    @Ajax.ActionLink("Xóa", "XoaSP", "GioHang", new { @mave = item.ID}, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "CartGioHang", InsertionMode = InsertionMode.Replace })
                </button>
            </td>
        </tr>        
    }


